DirectoryIndex message.php

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ message.php?id=$1 [L]

# Don't list directory contents
IndexIgnore *